<!DOCTYPE html>
<html lang="en-US" class=" yes-js js_active js js csstransitions js  js no-touch js_active  vc_desktop  vc_transform  vc_transform ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onerichgroup - All in one cryptoworld platform</title>
    <link rel="shortcut icon" href="./assets/images/logos/favicon-enefti.jpg">

    <%- include('./includes/styles.ejs') %>

    <link rel="stylesheet" href="./assets/css/styles.css">
</head>

<body>
<!--place the navbar here-->
<%- include('./includes/navbar.ejs') %>
<!--place the navbar here-->

<!--place the page section here-->
<%- include('./pages/index.ejs') %>
<!--place the page section here-->

<!--place the footer here-->
<%- include('./includes/footer.ejs') %>
<!--place the footer here-->

<!--scripts gunna be here-->
<%- include('./includes/scripts.ejs') %>
<script src="/assets/js/main.js"></script>

<script>
    Main.generate()
</script>
<!--scripts gunna be here-->
</body>

</html>
