<!DOCTYPE html>
<html lang="en-US"
    class=" yes-js js_active js js csstransitions js  js no-touch js_active  vc_desktop  vc_transform  vc_transform ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onerichgroup - All in one cryptoworld platform</title>
    <link rel="shortcut icon" href="./assets/images/logos/favicon-enefti.jpg">

    <%- include('../../includes/styles.ejs') %>

        <link rel="stylesheet" href="./assets/css/styles.css?<%= Math.random() %>">

        <style>
            body {
                background-color: rgb(14, 14, 14) !important;
            }
        </style>
</head>

<body>
    <!--place the navbar here-->
    <%- include('../../includes/navbar.ejs') %>
        <!--place the navbar here-->

        <!--place the page section here-->


        <div class="enefti-dark-banner">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="dark-banner-txt">
                            <h1>The Future of Technology</h1>
                            <h3 style="color: rgb(23, 239, 151);">Decentralize Finance</h3>
                            <p>Protect the identity,Lifetime free transactions,security and full controle over money
                                in one platform.</p>
                        </div>
                        <div class="empty-spacer-4"></div>
                        <div
                            class="dark-banner btn-group d-flex justify-content-center flex-lg-row flex-md-row flex-sm-column flex-column ">

                            <w3m-core-button></w3m-core-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="enefti-dark-cards">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 data-aos="fade-right">Buy Our Collections at <span>Opensea</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-addons-blog-posts-carousel-single-post col-lg-3 col-md-6 col-sm-12 col-12"
                        data-aos="fade-up">
                        <div id="nft-45257"
                            class="enefti-card-wrapper mt-addons-blog-posts-carousel-single-post-wrapper">
                            <div class="mt-addons-blog-posts-carousel-custom">
                                <div class="mt-addons-blog-posts-carousel-thumbnail enefti-card-img">
                                    <div class="mt-addons-blog-featured-image">
                                        <a href="https://opensea.io/collection/onerichgroup-zephyr">
                                            <img src="nft/5.jpg" alt="avidlines-2">
                                        </a>
                                        <div class="mt-addons-blog-posts-carousel-button mt-shop-cards-button">
                                            <div class="mt-addons-blog-posts-carousel-content-inside">
                                                <a href="https://opensea.io/collection/onerichgroup-zephyr"
                                                    class="enefti-gradient-v5 enefti-btn-xl relative">
                                                    <i class="fas fa-shopping-basket"></i> Opensea
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-addons-blog-posts-carousel-head-content">
                                <div class="enefti-card-title dark-card-title d-flex justify-content-center">
                                    <a href="https://opensea.io/collection/onerichgroup-zephyr">ZEPHYR</a>

                                </div>
                                <div class="enefti-details-card text-center">
                                    <p>Floor Price</p>
                                    <a>
                                        0.4 BNB | 100 USDT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-addons-blog-posts-carousel-single-post col-lg-3 col-md-6 col-sm-12 col-12"
                        data-aos="fade-up" data-aos-delay="200">
                        <div id="nft-45258"
                            class="enefti-card-wrapper mt-addons-blog-posts-carousel-single-post-wrapper">
                            <div class="mt-addons-blog-posts-carousel-custom">
                                <div class="mt-addons-blog-posts-carousel-thumbnail enefti-card-img">
                                    <div class="mt-addons-blog-featured-image">
                                        <a href="https://opensea.io/collection/onerichgroup-diamore">
                                            <img src="nft/50001.jpg" alt="azuki-1">
                                        </a>
                                        <div class="mt-addons-blog-posts-carousel-button mt-shop-cards-button">
                                            <div class="mt-addons-blog-posts-carousel-content-inside">
                                                <a href="https://opensea.io/collection/onerichgroup-diamore"
                                                    class="enefti-gradient-v5 enefti-btn-xl relative">
                                                    <i class="fas fa-shopping-basket"></i>Opensea
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-addons-blog-posts-carousel-head-content">
                                <div class="enefti-card-title dark-card-title d-flex justify-content-center">
                                    <a href="https://opensea.io/collection/onerichgroup-diamore">DIAMORE</a>

                                </div>
                                <div class="enefti-details-card text-center">
                                    <p>Floor Price</p>
                                    <a>
                                        4 BNB | 1K USDT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-addons-blog-posts-carousel-single-post col-lg-3 col-md-6 col-sm-12 col-12"
                        data-aos="fade-up" data-aos-delay="300">
                        <div id="nft-45259"
                            class="enefti-card-wrapper mt-addons-blog-posts-carousel-single-post-wrapper">
                            <div class="mt-addons-blog-posts-carousel-custom">
                                <div class="mt-addons-blog-posts-carousel-thumbnail enefti-card-img">
                                    <div class="mt-addons-blog-featured-image">
                                        <a href="https://opensea.io/collection/onerichgroup-claritya">
                                            <img src="nft/60001.jpg" alt="foxfam-4">
                                        </a>
                                        <div class="mt-addons-blog-posts-carousel-button mt-shop-cards-button">
                                            <div class="mt-addons-blog-posts-carousel-content-inside">
                                                <a href="https://opensea.io/collection/onerichgroup-claritya"
                                                    class="enefti-gradient-v5 enefti-btn-xl relative">
                                                    <i class="fas fa-shopping-basket"></i> Opensea
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-addons-blog-posts-carousel-head-content">
                                <div class="enefti-card-title dark-card-title d-flex justify-content-center">
                                    <a href="https://opensea.io/collection/onerichgroup-claritya">CLARITYA</a>

                                </div>
                                <div class="enefti-details-card text-center">
                                    <p>Floor Price</p>
                                    <a>
                                        40 BNB | 10K USDT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-addons-blog-posts-carousel-single-post col-lg-3 col-md-6 col-sm-12 col-12"
                        data-aos="fade-up" data-aos-delay="400">
                        <div id="nft-45260"
                            class="enefti-card-wrapper mt-addons-blog-posts-carousel-single-post-wrapper">
                            <div class="mt-addons-blog-posts-carousel-custom">
                                <div class="mt-addons-blog-posts-carousel-thumbnail enefti-card-img">
                                    <div class="mt-addons-blog-featured-image">
                                        <a href="https://opensea.io/collection/onerichgroup-prismora">
                                            <img src="nft/61001.jpg" alt="lucky">
                                        </a>
                                        <div class="mt-addons-blog-posts-carousel-button mt-shop-cards-button">
                                            <div class="mt-addons-blog-posts-carousel-content-inside">
                                                <a href="https://opensea.io/collection/onerichgroup-prismora"
                                                    class="enefti-gradient-v5 enefti-btn-xl relative">
                                                    <i class="fas fa-shopping-basket"></i> Opensea
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-addons-blog-posts-carousel-head-content">
                                <div class="enefti-card-title dark-card-title d-flex justify-content-center">
                                    <a href="https://opensea.io/collection/onerichgroup-prismora">PRISMORA</a>

                                </div>
                                <div class="enefti-details-card text-center">
                                    <p>Floor Price</p>
                                    <a>
                                        400 BNB | 100K USDT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="enefti-dark-swiper-cards d-none">
            <div class="container">
                <div class="row">
                    <div class="col-12" data-aos="fade-right">
                        <h2>Last mint <span>Collections</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mt-addons-swiper-container">
                            <div class="mt-swipper-carusel-position">
                                <div id="mt-addons-carousel-626a7dff81c6c"
                                    data-swiper-id="mt-addons-carousel-626a7dff81c6c" data-swiper-autoplay="true"
                                    data-swiper-delay="500" data-swiper-desktop-items="4" data-swiper-mobile-items="1"
                                    data-swiper-tablet-items="2" data-swiper-space-between-items="30"
                                    data-swiper-allow-touch-move="true" data-swiper-effect=""
                                    data-swiper-grab-cursor="true" data-swiper-infinite-loop="true"
                                    data-swiper-centered-slides="" data-swiper-navigation="true"
                                    data-swiper-pagination="true"
                                    class="mt-addons-collectors-carusel mt-addons-swipper swiper swiper-horizontal">
                                    <div class="swiper-wrapper" id="slid">



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="enefti-dark-info-right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center">
                        <div class="dark-info-right-txt">
                            <h2 data-aos="fade-right">Limited <span>61250</span> Unique NFTs</h2>
                            <div class="empty-spacer-1"></div>
                            <h5 data-aos="fade-right" data-aos-delay="200">Live on network <span>Binance Smart
                                    Chain</span>
                            </h5>
                            <div class="empty-spacer-1"></div>
                            <p data-aos="fade-right" data-aos-delay="300">We are a collective group of designers,
                                developers, and technologists
                                with extensive
                                backgrounds in digital sector. Our purpose is to make most notable NFT collections.
                            </p>
                            <div class="empty-spacer-1"></div>
                        </div>
                        <a class="enefti-no-gradient-v2 enefti-btn-sm" href="/collections" data-aos="fade-up"
                            data-aos-delay="400">Mint NFT</a>
                        <div class="empty-spacer-4"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="dark-info-img">
                            <img src="assets/images/banners/dark-m.gif" alt="Info 1" data-aos="fade-up">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="enefti-dark-info-left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="dark-info-img">
                            <img data-aos="fade-up" data-aos-delay="200" src="assets/images/banners/dark-m-2.gif"
                                alt="Info 1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center">
                        <div class="dark-info-left-txt">
                            <h2 data-aos="fade-left">Discover the Extraordinary NFT Collection from
                                <span>Onerichgroup</span>
                            </h2>
                            <div class="empty-spacer-1"></div>
                            <p data-aos="fade-left" data-aos-delay="400">Greetings, art enthusiasts and collectors!
                                We are delighted to unveil our exceptional NFT
                                collection, curated exclusively for connoisseurs like you. Step into our digital
                                vault and
                                explore a world of mesmerizing artistry and unparalleled creativity..
                            </p>
                            <div class="empty-spacer-1"></div>
                        </div>
                        <div class="dark-info-group-btn d-flex">
                            <!-- <a class="enefti-no-gradient-v2 enefti-btn-sm" href="blog">Go To Stats</a> -->
                            <a data-aos="fade-up" data-aos-delay="500" class="enefti-no-gradient-v2 enefti-btn-sm"
                                href="/collections">Mint a NFT</a>
                        </div>
                        <div class="empty-spacer-4"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="enefti-dark-steps d-none">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 data-aos="zoom-in">Get <span>Started</span> in 3 Steps</h2>
                        <div class="empty-spacer-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="dark-steps-card background-img-v1">
                            <div class="dark-steps-img">
                                <a href="#">
                                    <img src="assets/images/dark/steps/Icon-1.jpg" alt="Icon Step 1">
                                </a>
                            </div>
                            <div class="dark-steps-txt">
                                <a href="#">Connect your Wallet</a>
                                <p>Use Dapp Trustwallet or Metamask to connect wallet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="dark-steps-card background-img-v2">
                            <div class="dark-steps-img">
                                <a href="#">
                                    <img src="assets/images/dark/steps/Icon-2.jpg" alt="Icon Step 2">
                                </a>
                            </div>
                            <div class="dark-steps-txt">
                                <a href="#">Create your NFT </a>
                                <p>Select your favorite image from onerich and make it to NFT.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="dark-steps-card background-img-v3">
                            <div class="dark-steps-img">
                                <a href="#">
                                    <img src="assets/images/dark/steps/Icon-3.jpg" alt="Icon Step 3">
                                </a>
                            </div>
                            <div class="dark-steps-txt">
                                <a href="#">Start Selling or Staking</a>
                                <p>Sell NFT at opensea or stake your NFT to get reward.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="enefti-dark-client-swiper d-none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Our popular <span>Creators</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mt-addons-swiper-container">
                            <div class="mt-swipper-carusel-position">
                                <div id="mt-addons-carousel-626a7dff81c2d"
                                    data-swiper-id="mt-addons-carousel-626a7dff81c2d" data-swiper-autoplay="true"
                                    data-swiper-delay="500" data-swiper-desktop-items="8" data-swiper-mobile-items="2"
                                    data-swiper-tablet-items="2" data-swiper-space-between-items="30"
                                    data-swiper-allow-touch-move="true" data-swiper-effect=""
                                    data-swiper-grab-cursor="true" data-swiper-infinite-loop="true"
                                    data-swiper-centered-slides="" data-swiper-navigation="true"
                                    data-swiper-pagination="true"
                                    class="mt-addons-collectors-carusel mt-addons-swipper swiper swiper-horizontal">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/1.jpg" alt="Snoop Dogg"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Snoop Dogg</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 2,000,000+
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/2.jpg" alt="Travis Ragaltos"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Travis Ragaltos</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 2,000,000+
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/3.jpg" alt="Ugonzo Art"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Ugonzo Art</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 1,000,000+
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/4.jpg" alt="Aston Martin"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Aston Martin</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 2,000,000+
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/5.jpg" alt="Heavy Metal"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Heavy Metal</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 900,000+
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/6.jpg" alt="Murda Beat"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Murda Beat</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 900,000+
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mt-addons-member-image">
                                                <img src="assets/images/dark/clients/7.jpg" alt="Ari Hersch"
                                                    class="img-circle">
                                                <div
                                                    class="mt-addons-member-image-flex-zone dark-image-flex-zone img-circle">
                                                    <div
                                                        class="mt-addons-member-image-flex-zone-inside dark-zone-inside member_social social-icons">
                                                        <a href="https://facebook.com"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                                        <a href="emailto:someone@example.com"><i
                                                                class="fas fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="mt-addons-member-name dark-member-name">
                                                <a href="about" class="mt-addons-member-url">Ari Hersch</a>
                                            </h3>
                                            <div class="mt-addons-member-description dark-description">₿ 800,000+
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="enefti-dark-discover">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="dark-discover-body text-center mt-5">
                            <h2 data-aos="fade-up">Select Your <span>favorite</span> image.
                                <br>
                                <span>Mint</span> NFT and <span>collect</span>
                            </h2>
                            <div class="dark-discover-btn-group" data-aos="fade-up" data-aos-delay="200">
                                <a class="enefti-no-gradient-v2 enefti-btn-sm" href="/collections">Mint NFTs</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="enefti-dark-client-brand-swiper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mt-addons-swiper-container">
                            <div class="mt-swipper-carusel-position">
                                <div id="mt-addons-carousel-626a7dff81c2c"
                                    data-swiper-id="mt-addons-carousel-626a7dff81c2c" data-swiper-autoplay="true"
                                    data-swiper-delay="500" data-swiper-desktop-items="5" data-swiper-mobile-items="2"
                                    data-swiper-tablet-items="2" data-swiper-space-between-items="30"
                                    data-swiper-allow-touch-move="true" data-swiper-effect=""
                                    data-swiper-grab-cursor="true" data-swiper-infinite-loop="true"
                                    data-swiper-centered-slides="" data-swiper-navigation="true"
                                    data-swiper-pagination="true"
                                    class="mt-addons-collectors-carusel mt-addons-swipper swiper swiper-horizontal">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/metamask.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/bsc.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide ">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/dxtool.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/coinmarketcap.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/opensea.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/pancakeswap.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/poocoin.png" alt="Brand">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="dark-brand-img">
                                                <img src="assets/images/dark/brands/trustwallet.png" alt="Brand">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--place the page section here-->

        <!--place the footer here-->
        <%- include('../../includes/footer.ejs') %>
            <!--place the footer here-->

            <!--scripts gunna be here-->
            <%- include('../../includes/scripts.ejs') %>
                <script src="/assets/js/main.js"></script>
                <script>
                    const cards = document.querySelectorAll('.dark-steps-card');

                    cards.forEach(card => {
                        card.addEventListener('mousemove', (e) => {
                            const cardRect = card.getBoundingClientRect();
                            const cardCenterX = cardRect.left + cardRect.width / 2;
                            const cardCenterY = cardRect.top + cardRect.height / 2;

                            const mouseX = e.clientX;
                            const mouseY = e.clientY;

                            const rotateX = (mouseY - cardCenterY) / 20; // Nilai rotasi dibagi 20
                            const rotateY = (mouseX - cardCenterX) / 20; // Sesuaikan dengan kebutuhan Anda

                            card.style.transform = `perspective(500px) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
                        });

                        card.addEventListener('mouseleave', () => {
                            card.style.transform = 'perspective(500px) rotateX(0deg) rotateY(0deg)';
                        });
                    });
                </script>

                <script type="module">
                    import { web3Helper } from "/assets/js/web3Helper.js";

                    (async () => {
                        Main.initAos();
                        Main.generate();
                        // const myAccount = await web3Helper.getAccount();
                        // const myBalance = await web3Helper.checkBalance(myAccount.address,'0x55d398326f99059ff775485246999027b3197955');
                        // const isMinted = await web3Helper.isMinted(65);
                        // const allowance = await web3Helper.getAllowance('0x55d398326f99059ff775485246999027b3197955',myAccount.address,'0xdB92bE5d6ef6136c3e8d54e161A10E83E4F4A113');
                        // console.log(myAccount, myBalance,isMinted, allowance);
                    })();

                </script>
                <!--scripts gunna be here-->
</body>

</html>