<!DOCTYPE html>
<html lang="en-US"
    class=" yes-js js_active js js csstransitions js  js no-touch js_active  vc_desktop  vc_transform  vc_transform ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onerichgroup - All in one cryptoworld platform</title>
    <link rel="shortcut icon" href="./assets/images/logos/favicon-enefti.jpg">

    <%- include('../../includes/styles.ejs') %>

        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/farming.css">

        <style>
            body {
                background-color: rgb(14, 14, 14) !important;
            }

            .item {
                width: 65% !important;
                display: block;
                margin: 0 auto;
                opacity: 0.7;
                transition: all 250ms ease;
                -webkit-transition: all 250ms ease;
            }

            .item img {
                width: 109px;
                height: 84px;
            }
        </style>

</head>

<body>
    <!--place the navbar here-->
    <%- include('../../includes/navbar.ejs') %>
        <!--place the navbar here-->

        <!--place the page section here-->
        <div class="mt-5 mb-5">

            <div class="gamfi-farming gamfi-previous-section pt-70 pb-130 md-pb-60 mt-5">
                <div class="container">
                    <div class="gamfi-farming-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Pools</th>
                                    <th>APY</th>
                                    <th>STAKED</th>
                                    <th>TEARNED</th>
                                    <th>Total Value Locked</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="gamfi-farming-content ">
                        <div class="gamfi-table-inner  active-shape expeand-bottom-content">
                            <div
                                class="default-centent expeander-iteam-area d-flex align-items-center justify-content-between">
                                <div class="list-content list-1 image-row">
                                    <img src="/assets/images/farm.png" alt="Previous-Image" class="mr-3">BEST-DOT / BEST
                                </div>
                                <div class="list-content list-2">89.58 %</div>
                                <div class="list-content list-3">2586.50 BNB</div>
                                <div class="list-content list-4">899.50 BNB</div>
                                <div class="list-content list-5">$305,626.99</div>
                                <div class="list-content list-6"><i class="icon-arrow_down expeand-arrow"></i></div>
                            </div>
                            <div class="expeand-centent d-flex">
                                <div class="info">
                                    <ul>
                                        <li>Get ACT -BNB<i class=" icon-link"></i></li>
                                        <li>View Contract<i class=" icon-link"></i></li>
                                        <li>Unstaking Fee<i class=" icon-info-circle"></i></li>
                                    </ul>
                                </div>
                                <div class="button-area">
                                    <button class="btn btn-deposit" data-toggle="modal" data-target="#exampleModalDepo"
                                        type="button">Deposit</button>
                                </div>

                            </div>
                            <span class="border-shadow shadow-1"></span>
                            <span class="border-shadow shadow-2"></span>
                            <span class="border-shadow shadow-3"></span>
                            <span class="border-shadow shadow-4"></span>
                        </div>


                    </div>
                    <div class="gamfi-farming-content ">
                        <div class="gamfi-table-inner  active-shape expeand-bottom-content">
                            <div
                                class="default-centent expeander-iteam-area d-flex align-items-center justify-content-between">
                                <div class="list-content list-1 image-row">
                                    <img src="/assets/images/farm.png" alt="Previous-Image" class="mr-3">BEST-DOT / BEST
                                </div>
                                <div class="list-content list-2">89.58 %</div>
                                <div class="list-content list-3">2586.50 BNB</div>
                                <div class="list-content list-4">899.50 BNB</div>
                                <div class="list-content list-5">$305,626.99</div>
                                <div class="list-content list-6"><i class="icon-arrow_down expeand-arrow"></i></div>
                            </div>
                            <div class="expeand-centent d-flex justify-content-between">
                                <div class="info">
                                    <ul>
                                        <li>Get ACT -BNB<i class=" icon-link"></i></li>
                                        <li>View Contract<i class=" icon-link"></i></li>
                                        <li>Unstaking Fee<i class=" icon-info-circle"></i></li>
                                    </ul>
                                </div>
                                <div class="button-area ">
                                    <div class="d-flex flex-stacked">
                                        <div class="card-wrapper">
                                            <div class="card card-stacked">
                                                <div class="card-title">
                                                    USDT/BNB Stacked
                                                </div>
                                                <div class="card-body p-0">

                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <h4>13.26</h4>
                                                            <h6 class="usd-text">~13.26 USD</h6>
                                                        </div>
                                                        <div class="btn-wrap d-flex">
                                                            <button class="btn button-minus" data-toggle="modal"
                                                                data-target="#exampleModalDepo" type="button">-</button>
                                                            <button class="btn button-plus ml-3" data-toggle="modal"
                                                                data-target="#exampleModalDepo" type="button">+</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card card-stacked">
                                                <div class="card-title">
                                                    USDT/BNB Reward
                                                </div>
                                                <div class="card-body p-0">

                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <h4>13.26</h4>
                                                            <h6 class="usd-text">~13.26 USD</h6>
                                                        </div>
                                                        <div class="btn-wrap d-flex">
                                                            <button class="btn btn-claim" data-toggle="modal"
                                                                data-target="#exampleModalDepo"
                                                                type="button">Claim</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <button class="btn-deposit">Unstacked All</button>
                                    </div>

                                </div>
                                <div class="d-flex flex-column ml-5 boostss">
                                    <h4 class="text-white">
                                        Boost your stacking using your NFT 10x APR
                                    </h4>
                                    <button class="btn btn-boost mt-4" data-toggle="modal"
                                        data-target="#exampleModalBoost" type="button">Boost</button>
                                </div>
                            </div>
                            <span class="border-shadow shadow-1"></span>
                            <span class="border-shadow shadow-2"></span>
                            <span class="border-shadow shadow-3"></span>
                            <span class="border-shadow shadow-4"></span>
                        </div>


                    </div>
                    <div class="gamfi-farming-content ">
                        <div class="gamfi-table-inner  active-shape expeand-bottom-content">
                            <div
                                class="default-centent expeander-iteam-area d-flex align-items-center justify-content-between">
                                <div class="list-content list-1 image-row">
                                    <img src="/assets/images/farm.png" alt="Previous-Image" class="mr-3">BEST-DOT / BEST
                                </div>
                                <div class="list-content list-2">89.58 %</div>
                                <div class="list-content list-3">2586.50 BNB</div>
                                <div class="list-content list-4">899.50 BNB</div>
                                <div class="list-content list-5">$305,626.99</div>
                                <div class="list-content list-6"><i class="icon-arrow_down expeand-arrow"></i></div>
                            </div>
                            <div class="expeand-centent d-flex justify-content-between">
                                <div class="info">
                                    <ul>
                                        <li>Get ACT -BNB<i class=" icon-link"></i></li>
                                        <li>View Contract<i class=" icon-link"></i></li>
                                        <li>Unstaking Fee<i class=" icon-info-circle"></i></li>
                                    </ul>
                                </div>
                                <div class="button-area ">
                                    <div class="d-flex flex-stacked">
                                        <div class="card-wrapper">
                                            <div class="card card-stacked">
                                                <div class="card-title">
                                                    USDT/BNB Stacked
                                                </div>
                                                <div class="card-body p-0">

                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <h4>13.26</h4>
                                                            <h6 class="usd-text">~13.26 USD</h6>
                                                        </div>
                                                        <div class="btn-wrap d-flex">
                                                            <button class="btn button-minus" data-toggle="modal"
                                                                data-target="#exampleModalDepo" type="button">-</button>
                                                            <button class="btn button-plus ml-3" data-toggle="modal"
                                                                data-target="#exampleModalDepo" type="button">+</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card card-stacked">
                                                <div class="card-title">
                                                    USDT/BNB Reward
                                                </div>
                                                <div class="card-body p-0">

                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <h4>13.26</h4>
                                                            <h6 class="usd-text">~13.26 USD</h6>
                                                        </div>
                                                        <div class="btn-wrap d-flex">
                                                            <button class="btn btn-claim" data-toggle="modal"
                                                                data-target="#exampleModalDepo"
                                                                type="button">Claim</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card card-stacked">
                                                <div class="card-title">
                                                    Your APR 56% Higher
                                                </div>
                                                <div class="card-body p-0">
                                                    <button class="btn-deposit mt-3">See Stacked NFT</button>
                                                    <div class="btn-wrap d-flex mt-4">
                                                        <button class="btn button-plus w-50" data-toggle="modal"
                                                            data-target="#exampleModalDepo" type="button">-</button>
                                                        <button class="btn button-minus ml-3 w-50" data-toggle="modal"
                                                            data-target="#exampleModalDepo" type="button">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn-deposit">Unstacked All</button>
                                    </div>

                                </div>

                            </div>
                            <span class="border-shadow shadow-1"></span>
                            <span class="border-shadow shadow-2"></span>
                            <span class="border-shadow shadow-3"></span>
                            <span class="border-shadow shadow-4"></span>
                        </div>


                    </div>
                </div>
            </div>


        </div>
        <!--place the page section here-->

        <!-- modal depo -->
        <div class="modal fade" id="exampleModalDepo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalDepoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content farm">
                    <div class="modal-header farm">
                        <h5 class="modal-title" id="exampleModalDepoLabel">Add Liquidity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="input-amount">
                            <input type="text" class="form-control form-input-amount" placeholder="0"
                                aria-label="Input Amount">
                            <div class="btn-wrapper mt-3">
                                <button class="btn-input-amount">10%</button>
                                <button class="btn-input-amount mr-3">25%</button>
                                <button class="btn-input-amount mr-3">50%</button>
                                <button class="btn-input-amount mr-3">75%</button>
                                <button class="btn-input-amount mr-3">Max</button>
                            </div>
                        </div>
                        <button class="btn btn-top-up mt-4">
                            Add
                        </button>
                        <button class="btn btn-top-up mt-4" disabled>
                            Add Disabled
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal boost -->
        <div class="modal fade" id="exampleModalBoost" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalBoostLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content farm">
                    <div class="modal-header farm">
                        <h5 class="modal-title" id="exampleModalBoostLabel">Boost Nft</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="swiper-container slider-mid items swiper-container-initialized swiper-container-horizontal"
                            style="overflow: hidden;">
                            <div class="swiper-wrapper"
                                style="transition-duration: 0ms; transform: translate3d(-2256px, 0px, 0px);"
                                id="stakinglist">


                                <!-- Single Slide -->


                                <!-- Single Slide -->

                            </div>
                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                                    class="swiper-pagination-bullet" tabindex="0" role="button"
                                    aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet"
                                    tabindex="0" role="button" aria-label="Go to slide 2"></span><span
                                    class="swiper-pagination-bullet" tabindex="0" role="button"
                                    aria-label="Go to slide 3"></span><span
                                    class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                    role="button" aria-label="Go to slide 4"></span><span
                                    class="swiper-pagination-bullet" tabindex="0" role="button"
                                    aria-label="Go to slide 5"></span></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--place the footer here-->
        <%- include('../../includes/footer.ejs') %>
            <!--place the footer here-->

            <!--scripts gunna be here-->
            <%- include('../../includes/scripts.ejs') %>
                <script src="/assets/js/staking.js?<%= Math.random() %>"></script>
                <script src="/assets/js/gallery.min.js"></script>

                <script src="/assets/js/shuffle.min.js"></script>
                <script>
                    new Swiper('.slider-mid', {
                        effect: "coverflow",
                        grabCursor: true,
                        centeredSlides: true,
                        slidesPerView: "auto",
                        roundLengths: true,
                        autoplay: {
                            delay: 3000,
                            disableOnInteraction: false
                        },
                        coverflowEffect: {
                            rotate: 50,
                            stretch: 0,
                            depth: 100,
                            modifier: 1,
                            slideShadows: false
                        },
                        pagination: {
                            el: ".swiper-pagination",
                            clickable: true
                        },
                        initialSlide: 1 // Menandakan bahwa slide kedua (indeks 1) akan ditampilkan pertama kali
                    });

                </script>

                <script>
                    // Function to generate a random percentage
                    function getRandomPercentage() {
                        return Math.floor(Math.random() * 100);
                    }

                    // Function to generate the card HTML for each item
                    function generateCardHTML(index) {
                        const lockpercent = getRandomPercentage();
                        const cardHTML = `
                            <div class="swiper-slide item" data-swiper-slide-index="${index}" style="width: 346px; margin-right: 30px;">
                                <div class="card project-card">
                                    <div class="media">
                                        <img class="card-img-top avatar-max-lg" src="/nft/1.jpg" alt="">
                                        <div class="media-body ml-4">
                                            <a href="project-details.html">
                                                <h4 class="m-0 text-white">Nft Name</h4>
                                            </a>
                                            <div class="countdown-times">
                                                <h6 class="my-2 text-white">Start time: 01/01/2023</h6>
                                                <h6 class="my-2 text-white">Unlock time: 01/07/2023</h6>
                                                <div class="countdown d-flex" data-date="2022-06-30" style="display: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-claim mt-3">Add</button>
                                </div>
                            </div>`;
                        return cardHTML;
                    }

                    // Generate and append the cards to the element with ID "stakinglist"
                    for (let a = 0; a < 10; a++) {
                        const cardHTML = generateCardHTML(a);
                        $("#stakinglist").append(cardHTML);
                    }
                </script>


</body>

</html>